* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(135deg, #92C7CF, #AAD);
}

form {
    width: 550px;
    min-height: 450px;
    background-color: #FBF9F1;
    margin: 100px auto 0;
    padding: 60px 40px 0px 30px;
    border-radius: 5px;
}

div.top-icon {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    margin: -100px auto 30px;
    height: 70px;
    width: 70px;
}
.inputs {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

div input {
    background-color: #FBF9F1;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #E5E1DA;
    width: 325px;
    padding-bottom: 10px;
}

div input:focus {
    outline: none;
}

div textarea {
    background-color: #FBF9F1;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #E5E1DA;
    width: 325px;
}

.submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

div #submit-button {
    border: none;
    background-color: #92C7CF;
    border-radius: 5px;
    color: #FBF9F1;
    font-size: 15px;
    height: 45px;
    width: 125px;
    margin-bottom: 20px;
    line-height: 45px;
}

span {
    color: rgb(219, 65, 65);
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 12px;
}

span.valid-input {
    background-color: #2B7F52;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    height: 20px;
    width: 20px;
    text-align: center;
    
}